name: Publish on Modrinth, Github & CurseForge

on: [ workflow_dispatch ]

permissions:
  contents: write

jobs:
  upload:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Setup JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: "temurin"
          java-version: 17

      - name: Grand execute permission to gradlew
        run: chmod +x gradlew

      - name: build
        run: ./gradlew build

      - name: Set up Environment Variables
        run: |
          echo "MINECRAFT_VERSION="$(grep 'minecraft_version' gradle.properties | cut -f2- -d=)"" >> $GITHUB_ENV
          echo "MOD_VERSION="$(grep 'mod_version' gradle.properties | cut -f2- -d=)"" >> $GITHUB_ENV
          echo "CLOTH_CONFIG_VERSION="$(grep 'cloth_config_version' gradle.properties | cut -f2- -d=)"" >> $GITHUB_ENV

      - name: Install changelog parser
        uses: taiki-e/install-action@parse-changelog

      - name: Parse changelog
        run: parse-changelog CHANGELOG.md ${{ env.MOD_VERSION }} > changes.md

      - name: Publish (CurseForge/Modrinth)
        uses: Kir-Antipov/mc-publish@v3.3
        with:
          curseforge-id: 817206
          curseforge-token: ${{ secrets.CURSEFORGE_TOKEN }}

          modrinth-id: A4YQgwzz
          modrinth-token: ${{ secrets.MODRINTH_TOKEN }}

          github-token: ${{ secrets.P_GITHUB_TOKEN }}
          github-tag: v${{ env.MINECRAFT_VERSION}}-${{ env.MOD_VERSION }}

          game-versions: |
            ${{env.MINECRAFT_VERSION}}
          dependencies: |
            fabricloader(required)
            cloth-config(required)
          loaders: fabric
          name: 'MusicNotification v${{env.MOD_VERSION}} for ${{env.MINECRAFT_VERSION}}'
          version-type: release
          changelog-file: changes.md
          files: build/libs/!(*-@(dev|sources|javadoc)).jar
